/*DESKTOP*/

#netnet{
    display: flex;
    flex-direction: row;
    padding: 120px 0px 80px 185px;
    position: static;
    width: 875px;
    height: 370px;
    left: 0px;
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: -230px -30px;

}

 #textn{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 449px;
    height: 221px;
    left: 128px;
    top: 160.5px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px -2px;
 }

 #titulon{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px 8px;
    position: static;
    width: 128px;
    height: 54px;
    left: 0px;
    top: 0px;
    background: var(--darkblue);
    box-shadow: -4px 4px 0px white;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
    font-family: var(--fontBase);
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 55px;
    color: white;
 }

 #nueve{
    position: static;
    width: 449px;
    height: 68px;
    padding: 30px 0px;
    left: 0px;
    top: 80px;
    font-family: var(--fontBase);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.005em;
    color: var(--darkblue);
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 16px 0px 0px;
 }

 #buttonsn{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 0px 0px;
    position: static;
    width: 331px;
    height: 57px;
    left: 0px;
    top: 174px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 16px -16px;
 }

 #bn1{
    justify-content: center;
    align-items: center;
    padding: 0px; 
    position: static;
    width: 168px;
    height: 49px;
    left: 0px;
    top: 8px;
    background: var(--darkblue);
    border: 2px solid var(--darkblue);
    box-sizing: border-box;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 16px;
    font-family: var(--fontBase);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 1.25px;
    color: white;
 }

 #bn1:hover{
    background-color:black;
}

 #bn2{
    align-items: flex-start;
    padding: 13px 24px;
    position: static;
    width: 168px;
    height: 49px;
    left: 0px;
    top: 8px;
    border: 2px solid var(--darkblue);
    box-sizing: border-box;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 16px;
    font-family: var(--fontBase);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 1.25px;
    color: var(--darkblue);
    background-color: transparent;
 }

 #bn2:hover{
    background-color:black;
}

 #imnetnet{
    position: static;
    width: 500px;
    height: 292px;
    left: 601px;
    top: 80px; 
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 10px 64px;
 }

 /*PHONE*/
@media screen and (max-width: 600px){

    #netnet{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        padding: 40px 16px;
        width: 360px;
        height: 385px;
        left: 0px;
        top: 4436px;
        margin: 210px 0px;
     }

     #textn{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 40px 16px;
        position: static;
        width: 360px;
        height: 221px;
        left: 0px;
        top: 140px;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 0px;
     }

    
     #titulon{
        width: 85px;
        height: 45px;
        left: 16px;
        top: 40px;
        font-size: 20px;
        line-height: 39px;
     }
    
     #nueve{
        width: 328px;
        height: auto;
        left: 16px;
        top: 103px;
        align-self: stretch;
     }
    
     #buttonsn{
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 30px 0px;
        position: static;
        width: 328px;
        height: 220px;
        left: 0px;
        top: 0px;
     }
    
     #bn1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 49px;
        left: 0px;
        top: 0px;
        order: 1;
        margin: 0px 16px;
     }
    
     #bn2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        width: 350px;
        margin: 16px 16px;
     }
    
     #imnetnet{
        position: absolute;
        width: 322px;
        height: 206px;
        left: 29px;
        top: -170px;
     }

}